body{
    min-width: 1150px;
    font-family: 'Manrope', sans-serif;
}

/* Переменные */
:root{
    --black-121212: #121212;
    --header-text: var(--black-121212);
}

/* Общий контейнер */
.container{
    margin: 0 auto;

    width: 1150px;

    padding: 0 20px;
}

/* К тегу <span> */
.span-nav{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
}


/* Nav panel */
.nav{
    margin-top: 33px;
    margin-bottom: 70px;
}

.nav-string{
    position: relative;

    display: flex;
    align-items: center;
}

.metrics-link{
    text-decoration: none;

    color: var(--black-121212);
}

.metrics-img{
    width: 126.89px;
    height: 21.42px;
    max-width: 126.89px;
    max-height: 21.42px;
}

.nav-list{
    display: flex;
    justify-content: center;

    position: absolute;
    left: 625.35px;
}

.nav-list__li{
    margin: 0 30px;
}

.nav-list__link{
    position: relative;

    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--black-121212);

    transition: .3s linear;
}


/* Нижнее подчёркивание у ссылок навигационной панели */
.nav-list__link:hover{
    opacity: 0.5;
}

.nav-list__link::after{
    width: 100%;
    height: 3px;

    content: "";
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    background-color: var(--black-121212);
    opacity: 0;

    z-index: 1;
}

.nav-list__link:hover::after{
    display: block;
    opacity: 1;
}


/* Header */
.header{
    margin-bottom: 150px;
}

.header-main{
    margin-bottom: 30px;

    width: 1000px;
    
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

}

.header-img-paragraph{
    position: relative;
}

.header-img{
    max-width: 1150px;
    max-height: 500px;
}

.header-paragraph{
    width: 450px;

    position: absolute;
    left: 40px;
    top: 379px;

    font-size: 20px;
    font-weight: 400;
    line-height: 27px;

    color: #ffffff;
}


/* About Us */
.about-us{
    margin-bottom: 150px;
}

.about-us-header{
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.about-us-paragraph{
    margin-bottom: 60px;

    width: 1148px;

    font-weight: 400;
    font-size: 45px;
    line-height: 61px;

    color: var(--black-121212);
}

.about-us-btn{
    padding: 20px 40px;

    text-decoration: none;
    
    border-radius: 5px;
    border: none;

    color: #ffffff;
    background-color: #AD1818;

    transition: .3s linear;
}

.about-us-btn:hover{
    background-color: #ecb7b7;
    color: #333333;
}


/* Projects */
.projects{
    margin-bottom: 150px;
}

.item{
    margin-bottom: 90px;
}

.projects__header{
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    color: var(--black-121212);
}

.item__img{
    margin-bottom: 15px;
    max-width: 1150px;
}

.item__header{
    margin-bottom: 15px;

    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
}

.item__link{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;

    color: #AD1818;

    transition: .3s linear;
}

.item__link:active{
    font-size: 19px;
}


.projects__link-btn{
    width: 100%;
    height: 153px;

    display: block;

    font-weight: 400;
    font-size: 30px;
    line-height: 153px;
    text-decoration: none;
    text-align: center;

    border: 1px solid #AD1818;

    color: #AD1818;
    
    transition: .3s linear;
}

.projects__link-btn:hover{
    border: 1px solid #AD1818;

    color: #ffffff;
    background-color: #AD1818;
}

.projects__link-btn:active{
    font-size: 29px;
}



/* Services */
.services{
    margin: 0 auto;

    max-width: 100%;
    min-width: 1190px;

    width: 100%;

    background-color: var(--black-121212);
}

.black-container{
    margin: 0 auto;

    max-width: 1150px;
    
    padding: 150px 20px;
}

.services__header{
    margin-bottom: 34px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    color: #ffffff;
}

.services-block{
    margin-bottom: 60px;
}

/* Задаём нижний отступ (от контейнера black-container) последнему блоку - services-block */
.services-block:nth-last-child(1){
    margin-bottom: 0;
}

.services-block__img{
    max-width: 1150px;
}

.services-block__header{
    margin-top: 15px;

    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;

    color: #ffffff;
}


/* Two room apartment project */
.two-room-apartment-project{
    margin-bottom: 150px;
    
    max-width: 100%;
    min-width: 1150px;

    position: relative;
}

.adaptive-container{
    margin: 0 auto;

    min-width: 1190px;
    width: 100%;
}

.photo-bed{
    width: 100%;
}

.text-content{
    max-width: 443px;

    position: absolute;
    left: 12.15%;
    top: 73.9%;

    font-size: 30px;
    font-weight: 400;
    line-height: 41px;

    color: #ffffff;
}


/* Contacts */
.contacts{
    margin-bottom: 142px;

    width: 100%;
}

.contacts-container{
    margin: 0 auto;

    width: 1150px;

    padding: 0 20px;
    box-sizing: border-box;
}

.contacts-img{
    margin-bottom: 15px;

    max-width: 24px;
}

.contacts-header{
    margin-bottom: 32px;

    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;

    color: var(--black-121212);
}

.contacts-telephone{
    margin-bottom: 32px;

    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

    color: var(--black-121212);
}

.contacts-link{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;

    color: var(--black-121212);
    opacity: 0.5;
}

.contacts-link::after{
    margin-top: 10px;

    width: 430px;
    height: 2px;

    content: "";
    display: block;

    border: 1px solid var(--black-121212);

    background-color: var(--black-121212);
    opacity: 0.5; 
}

/* Footer */
footer{
    margin: 0 auto;

    max-width: 100%;
    min-width: 1190px;
    width: 100%;
    
    padding-top: 60px;

    background-color: var(--black-121212);
}

.footer-nav{
    margin-bottom: 87px;

    display: flex;
    justify-content: center;
}

.footer-li{
    margin: 0 28px;

    list-style-type: none;
}

.footer-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;

    transition: .3s linear;
}

.footer-link:hover{
    opacity: 0.5;
}

.footer-header{
    padding-bottom: 30px;

    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;

    color: #ffffff;
    opacity: 0.5;
}